<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>C-Meets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

     <div slot="fixed">
    <iframe src="https://www.youtube.com/embed/z-Ez7g-UkF0" frameborder="0" width="250" height="200"></iframe>
    </div>

       

  <div id="container">
   
    <div slot="fixed">
      <h6>{{ folder }}</h6>
      <ion-slides>
      <ion-slide>
        <img src="assets/img/1.png" />
        </ion-slide>
      <ion-slide>
        <img src="assets/img/2.png" />
      </ion-slide>
      <ion-slide>
        <div><img src="assets/img/3.png" /></div>
      </ion-slide>
      <ion-slide>
        <div><img src="assets/img/4.png" /></div>
      </ion-slide>
      <ion-slide>
        <div><img src="assets/img/5.png" /></div>
      </ion-slide>
      <ion-slide>
        <div><img src="assets/img/6.png" /></div>
      </ion-slide>
      <ion-slide>
        <div><img src="assets/img/7.png" /></div>
      </ion-slide>
      <ion-slide>
        <div><img src="assets/img/8.png" /></div>
      </ion-slide>
      <ion-slide>
        <div><img src="assets/img/9.png" /></div>
      </ion-slide>
      <ion-slide>
        <div><img src="assets/img/10.png" /></div>
      </ion-slide>
      <ion-slide>
        <div><img src="assets/img/11.png" /></div>
      </ion-slide>
      <ion-slide>
        <div><img src="assets/img/12.png" /></div>
      </ion-slide>
      <ion-slide>
        <div><img src="assets/img/13.png" /></div>
      </ion-slide>
      <ion-slide>
        <div><img src="assets/img/14.png" /></div>
      </ion-slide>
      <ion-slide>
        <div><img src="assets/img/15.png" /></div>
      </ion-slide>
      <ion-slide>
        <div><img src="assets/img/16.png" /></div>
      </ion-slide>
    </ion-slides>
  </div>
  <div slot="fixed">
    <ion-item>CHAT</ion-item>
              <ion-item>
                <ion-avatar>
                  <img src="assets/img/avatar.png">              </ion-avatar>
                <ion-label>elennavr: We hear you</ion-label>
              </ion-item>
              <ion-item>
                <ion-avatar>
                  <img src="assets/img/avatar.png">              </ion-avatar>
                <ion-label>despgiat: 100</ion-label>
              </ion-item>
              <ion-item>
                <ion-avatar>
                  <img src="assets/img/avatar.png">              </ion-avatar>
                <ion-label>stefgian: Could you repeat that?</ion-label>
              </ion-item>
              <ion-item>
                <ion-avatar>
                  <img src="assets/img/avatar.png">
                </ion-avatar>
                <ion-label>stanikeva: What's the assignment's deadline?</ion-label>
              </ion-item>
          
      <ion-item>
       <ion-input placeholder="Public Message"></ion-input>
       <button>SEND</button>
      </ion-item>
  </div>
  
  <ion-grid>
    <ion-row>
      <ion-col col-3>
         <ion-card>
          <ion-card-header>
            elennavr
          </ion-card-header>
          <ion-card-content>
            <p>Eleni Navrozidou - 3628</p>
            CONNECTED
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-3>
        <ion-card>
         <ion-card-header>
           despgiat
         </ion-card-header>
         <ion-card-content>
          <p>Despoina Giatagana - 3305</p>
          CONNECTED         
        </ion-card-content>
       </ion-card>
     </ion-col>
     <ion-col col-3>
      <ion-card>
       <ion-card-header>
         stefgian
       </ion-card-header>
       <ion-card-content>
        <p>Stefanos Panagiotis Giannakos - 3568</p>
        CONNECTED
       </ion-card-content>
     </ion-card>
   </ion-col>
   <ion-col col-3>
    <ion-card>
     <ion-card-header>
       stanikeva
     </ion-card-header>
     <ion-card-content>
      <p>Evangelia Stamoglou - 3591</p>
      CONNECTED
     </ion-card-content>
   </ion-card>
 </ion-col>
    </ion-row>
  </ion-grid>
  
  </div>
</ion-content>
